{% extends 'dcim/location.html' %}

{% block content %}
    <h2>Cisco Smart Licensing</h2>
    {% if licenses %}
    <table class="table table-striped">
        <tr>
          <th>License</th>
          <th>Type Type</th>
          <th>Quantitiy</th>
          <th>In Use</th>
          <th>Available</th>
        </tr>
        {% for lic in licenses %}
        <tr>
          <td>{{lic.license}}</td>
          <td>
            {% for det in lic.licenseDetails %}
            {{ det.licenseType }}
            {% endfor %}
          </td>
          <td>{{lic.quantity}}</td>
          <td>{{lic.inUse}}</td>
          <td>{{lic.quantity}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No license data found</p>
    {% endif %}
{% endblock %}
